#Open{
    position: absolute;

    left: 75px;
    top: 75px;

    text-decoration: none;
    cursor: pointer;
    border: none;

    font-size: 25px;

    color: var(--Text-color);
    background-color: transparent;

    transition: .5s;
}

#Open:hover{
    transform: rotate(360deg);
}

#Close{
    position: absolute;
    cursor: pointer;

    right: 25px;
    top: 25px;

    text-decoration: none;
    border: none;
    background: transparent;
    color: var(--Background-color);

    z-index: 9999;

    transition: .5s;
}

#Close:hover{
    transform: rotate(360deg);
}