*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: var(--Background-color);
}

:root{
--Background-color: #2d2e2c;
--Text-color: #f7dece;
--Span-color: #9ec4bb;
}

.Light-Mode{
--Background-color: #f7dece;
--Text-color: #2d2e2c;
--Span-color: #9ec4bb;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}


::-webkit-scrollbar-thumb {
  background-color: var(--Span-color);
}